*{
          margin: 25px;
          margin-left: 50px;
          font-family: sans-serif;

}
/* display and positin tasks */

.block-box{
          width: 18%;
          height: 100px;
          background-color: rgb(13, 96, 96);
          display: block;
         

}
.inline-box{
          width: 18%;
          height: 100px;
          background-color: rgb(13, 96, 96);
          display: inline;
          padding: 10px;

}
.inline-block-box{
          width: 18%;
          height: 100px;
          background-color: rgb(13, 96, 96);
          display: inline-block;
          padding: 10px;

}

.hover-but{
          color: aliceblue;
          position: relative;
          display: inline-block;
          padding: 10px;
          background-color: #621414;
          border: 1px solid #670b0b;
          border-radius: 10px;
}

.hidden-message{
          display: none;
          color: white;
          background-color: aqua;
          padding: px;
          margin-top: 10px;
}

.hover-but:hover{
          cursor: pointer;
}


.navbar-sticky{
          position: sticky;
          height: 60px;
          width: 90%;
          background-color: rgb(8, 99, 99);
}

.navbar-sticky ul{
          list-style-type: none;
          display: flex;
          justify-content: space-evenly;
}
.navbar-sticky ul li a{
          text-decoration: none;
          font-size: 20px;
          color: rgb(125, 5, 5);
}
/* card area */

.card-area{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          height: 400px;
          background-color: rgb(18, 103, 103);
          gap: 20px;
          
}
.card{
          background-color: aquamarine;
          width: 20%;
          text-align: center;
          border-radius: 10px;
          box-shadow: 0, 0, 10px gray

}
.card h2{
          font-size: 40px;
          margin-top: 150px;
}

